.main-unit{
	width: 60%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

html{
	height: 100%;
	max-height: 100%;
	padding: 0;
	margin: 0;
	overflow: auto;
}
body{
	height:100%;
	max-height: 100%;
	overflow: auto;
	padding: 0;
	margin: 0px;
}

#content{
	height:100%;
}
